<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Athletes List</title>
  ${head_2}
</head>
<body>
  <h3 style="background-color:gold; font-family: fantasy; font-style: italic, strong; text-align: center;">Athletes List
  </h3>
  
  <table>
    <tr>      
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      
    </tr>
    ${athlete.map(athlete =>
    `
    <tr>      
      <td>${athlete.firstName}</td>
      <td>${athlete.lastName}</td>
      <td>${athlete.email}</td>      
    </tr>
    `
    ).join('')}
  
  
  </table>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>