<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Athlete Home</title>
  <link rel="stylesheet" href="/stylesheets/coach-hub.css">
</head>
<body>
  <nav>
    <div class="logo">
        <a href="/athlete/home">
            <h4>HealthierU</h4>
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="/athlete/home">Home</a></li>        
        <li><a href="./mealplans.html">Mealplans</a></li>
        <li><a href="./calendar.html">Calendar</a></li>
    </ul>    
  </nav>
  
  <h1> Welcome Jay!</h1>
    <div class="layout">
      <section class="page">
        
        <aside class="sidebar-left">
          <div class="user">
            <h3>Jay Robinson</h3>
            
            <img src="https://i.stack.imgur.com/l60Hf.png" class="pic">
            <br>
            
            <div class="sidebar-menu">
              <button>choice 1</button>
              
              <button>choice 2</button>
              
              <button>choice 3</button>
            </div>
          </div>
        </aside>
        
        <main class="main">
          <h2>Actvity</h2>
          <div class="feed">
            <p>
              <div class="post">
                Your mealplan has been adjusted by your speed coach
                
                <div class="likebtn">
                  <button> Like</button>
                  <br>
                  <button>View</button>
                </div>
              </div>
            </p>
            
            <p>
              <div class="post">
                Your strength coach Posted a new workout for you!
                
                <div class="likebtn">
                  <button> Like</button>
                  <br>
                  <button>View</button>
                </div>
                

              </div>
            </p>
            <p>  
              <div class="post">
                <img src="https://image.boxrox.com/2015/01/NEO8340-800x420.jpg" class="pic">
                
                <br>

                Your friend Joe Stephens Just hit a new Overhead Squat PR for weight!
                <br>
                <div class="likebtn">
                <button> Like</button>
                <br>
                <button>Comment</button>
                </div>
              </div>
            </p>
            <p>
              <div class="post">
                Your friend Amy James reached her macronutrients for the day!
                <br>
                <div class="likebtn">
                  <button> Like</button>
                  <br>
                  <button>Comment</button>
                </div>
              </div>
            </p>
            <p>
            <div class="post">
              <img src="https://cdn.muscleandstrength.com/sites/default/files/field/feature-wide-image/article/do-you-need-to-squat-wide.jpg" class="pic">
              Your friend Andrew Michaels Beat your squat PR for reps!
              <br>
                <div class="likebtn">
                  <button> Like</button>
                  <br>
                  <button>Comment</button>
                </div>
            </div>
          </div>
          </p>
        
        </main>

        <aside class="sidebar-right">
          <div class="friends">
            <h3>Online</h3>
              <ol>
                <p>Ashley Adams</p>
                <p>Joe Stephens</p>
                <p>Amy James</p>
                <p>Andrew Michaels</p>
              </ol>
          </div>
        </aside>
      
        
    </div>
</body>
</html>