<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Client Registration</title>
</head>
<body>
  <h1>Client Registration</h1>
    <form method="POST" action="/users/rgeister">
      <h2>Login</h2>
      <p>
        <label for="first-name">First Name</label><br>
        <input type="text" name="first-name" id="first-name" placeholder="Nate" required />
      </p>
      <p>
        <label for="last-name">Last Name</label><br>
        <input type="text" name="last-name" id="last-name" placeholder="Smith" required />
      </p>
      <p>
        <label for="nickname" >Nickname</label><br>
        <input type="text" name="nickname" id="nickname" placeholder="Smithy" required />
      </p>
      <p>
      <label for="specialty">What kind of coaching are you looking for?:</label>
      <br>

      <select name="specialty" id="specialty">
        <option value="lifting">Power Lifting</option>
        <option value="physique">Physique</option>
        <option value="cardio">Conditioning/Cardio</option>
        <option value="crossfit">Crossfit</option>
      </select>
    </p>
      <p>
        <label for="email">Email</label><br>
        <input type="text" name="email" id="email"  placeholder="jay-rob@email.com" required />
      </p>
      <p>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="password" required />
      </p>
      <button type="Register">Register</button>
    </form>
</body>
</html>