<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coaches Home</title>

</head>
  <link rel="stylesheet" href="/stylesheets/coach-hub.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
  

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:gold; font-family: fantasy; font-style: italic;">healthierU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/coach/athletes"
              style="color:gold; font-family: fantasy; font-style: italic;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/athletes_list"
              style="color: gold; font-family: fantasy; font-style: italic;">Athletes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" style="color:gold; font-family: fantasy; font-style: italic;">
              Plans
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(43, 41, 41);">
              <li><a class="dropdown-item" href="/coach/athletes"
                  style="color:gold; font-family: fantasy; font-style: italic;">Workout
                  Plans</a></li>
              <li><a class="dropdown-item" href="/meal_plans" style="color:gold; font-family: fantasy; font-style: italic;">Meal
                  Plans</a>
              </li>
              
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <a href="/logout"><button class="log_out" type="button"
            style="background-color:gold; font-family: fantasy; font-style: italic, strong;">Log Out</button></a>
      </form>

    </div>
  </div>
</nav> 
</head>
<body>
  
  
  <h1> Welcome Coach!</h1>
    <div class="layout">
      <section class="page">
        
        <aside class="sidebar-left">
          <div class="user">
            <h3>Joe Rogan</h3>
            
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-jw2rq6Sd8V5Y-JMeWJW8ayvSTcJYKJb3Yw&usqp=CAU" class="pic">
            <br>
            
            <div class="sidebar-menu">
              <br>                           
                <button>My Workouts</button>
                <br>               
                <button>My Mealplan</button>
                <br>
                <button>My Records</button>
              
            </div>
          </div>
        </aside>
        
        <div class="container">
        <main class="main">
          <h2>Activity</h2>
          <div class="feed">
            <p>
              <div class="post">
                <img src="https://image.boxrox.com/2015/01/NEO8340-800x420.jpg" class="pic">
                
                <br>

                Your athlete Joe Stephens Just hit a new PR!
                <br>
                
                <div class="cmmt">
                  <textarea  name="comment" form="usrform">Comment...</textarea>
                </div>
                <div class="likebtn">
                <button> Like</button>
                <br>
                <button>Comment</button>
                </div>
                
              </div>
            </p>
            <p>
              <div class="post">
                Your athlete Amy James reached her macronutrients for the day!
                
                <div class="cmmt">
                  <textarea  name="comment" form="usrform">Comment...</textarea>
                </div>
                <div class="likebtn">
                  <button> Like</button>
                  <br>
                  <button>Comment</button>
                </div>
              </div>
            </p>
            <p>
            <div class="post">
              <img src="https://cdn.muscleandstrength.com/sites/default/files/field/feature-wide-image/article/do-you-need-to-squat-wide.jpg" class="pic">
              Your friend Andrew Michael's Beat your squat PR for reps!
              <br>
              <div class="cmmt">
              <textarea  name="comment" form="usrform">Comment...</textarea>
              </div>  
              <div class="likebtn">
                  <button> Like</button>
                  <br>
                  <button>Comment</button>
                </div>
            </div>
          </div>
          </p>
        </main>
      </div>

        <aside class="sidebar-right">
          <div class="friends">

            
            <h3>Athletes</h3>

            ${athletes.map(athlete => 
              `
              <a href="/coach/athletes/${athlete.id}"><h3>${athlete.firstName} ${athlete.lastName}</h3></a>
              `
            ).join('')}

          </div>
        </aside>
      
        
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>