<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coaches List</title>
  ${head}
  <style>
    tr:nth-child(even) {
      background-color: #eee;
    }

    tr:nth-child(odd) {
      background-color: #fff;
    }

    th {
      color: white;
      background-color: black;
    }
    table {
      border: 1px, solid black;
      width: 100%;
    }

  </style>
</head>

<body>
  
  <h3 style="background-color:gold; font-family: fantasy; font-style: italic, strong; text-align: center;">Coaches List</h3>

  <table>
    <tr>
      <th>Select Coach</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Specialty</th>
    </tr>
    ${coaches.map(coach => 
      `
    <tr>
      <td><input type="radio" id="select_coach" name="select_coach"></td>
      <td>${coach.firstName}</td>
      <td>${coach.lastName}</td>
      <td>${coach.email}</td>
      <td>${coach.specialty}</td>
    </tr>
    `
  ).join('')}


  </table>
  <button type="submit" style="background-color:gold; font-family: fantasy; font-style: italic, strong; justify-content: center;">Submit</button>








  <script src="../public/coach.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</body>

</html>