<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/home.css">

</head>

<body>

  <h1>healthierU</h1>
  <br>
  <p class="body_text">healthierU is a website designed to help you live a healthier life. Sign in below or register
    to
    begin living a healthierU. </p>
  <div class="login_container">
    <a href="/coach/login"><button onclick="submit" class="coach_button">Log In As Coach</button></a>
    <a href="/athlete/login"><button onclick="submit" class="athlete_button">Log In As Athlete</button></a>

  </div>
</body>

</html>