<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="./login.css">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>

<body>
  <div class="login_container">
    <div class="login_section">
      <fieldset>
        <legend>Coach Login</legend>
        <label for="email">Email</label>
        <br>
        <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input type="email" name="email" id="email" placeholder="Enter your email" required>
        </div>
        <p></p>
        <label for="password">Password</label>
        <br>
        <div class="input-container">
          <i class="fa fa-key icon" aria-hidden="true"></i>
          <input type="password" name="password" id="password" placeholder="Enter you password" required>
        </div>
        <p></p>
        <a href="./coach_login.html"><button type="submit" class="coach_button">Coach Login</button></a>
        <p></p>
        <a href="" id="register_link">Don't have an account. Register Here!!</a>
      </fieldset>
    </div>

    <div class="login_section">
      <fieldset>
        <legend>Client Login</legend>
        <label for="email">Email</label>
        <br>
        <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input type="email" name="email" id="email" placeholder="Enter your email" required>
        </div>
        <p></p>
        <label for="password">Password</label>
        <br>
        <div class="input-container">
          <i class="fa fa-key icon"></i>
          <input type="password" name="password" id="password" placeholder="Enter you password" required>
        </div>
        <p></p>
        <a href="./client_login.html"><button type="submit" class="client_button">Client Login</button></a>
        <p></p>
        <a href="" id="register_link">Don't have an account. Register Here!!</a>
      </fieldset>
    </div>
  </div>
</body>

</html>