<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meal Plans</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/meal_plans.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />


  <title>${title}</title>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:gold; font-family: fantasy; font-style: italic;">healthierU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/coach/home"
              style="color:gold; font-family: fantasy; font-style: italic;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/athletes_list"
              style="color: gold; font-family: fantasy; font-style: italic;">Athletes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" style="color:gold; font-family: fantasy; font-style: italic;">
              Plans
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(43, 41, 41);">
              <li><a class="dropdown-item" href="#"
                  style="color:gold; font-family: fantasy; font-style: italic;">Workout
                  Plans</a></li>
              <li><a class="dropdown-item" href="/meal_plans"
                  style="color:gold; font-family: fantasy; font-style: italic;">Meal
                  Plans</a>
              </li>
              
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <a href="/home"><button class="log_out" type="button"
              style="background-color:gold; font-family: fantasy; font-style: italic, strong;">Log Out</button></a>
        </form>
      </div>
    </div>
  </nav>

</head>

<body>

  <div class="container">
    <div class="meal-wrapper">
      <div class="meal-search">
        <h2 class="title">Find Meals For Your Ingredients</h2>
        <div class="meal-search-box">
          <input type="text" class="search-control" placeholder="Enter an ingredient" id="search-input">
          <button type="submit" class="search-btn btn" id="search-btn">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="meal-result">
        <h2 class="title">Your Search Results:</h2>
        <div id="meal">          
        </div>
      </div>
      <div class="meal-details">
        <!-- recipe close btn -->
        <button type="button" class="btn recipe-close-btn" id="recipe-close-btn">
          <i class="fas fa-times"></i>
        </button>
        <!-- meal content -->
        <div class="meal-details-content">
        </div>
      </div>
    </div>
  </div>

</body>
<script src="/stylesheets/meal_plans.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</html>